#mainboardOne{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:10vw;
}
#mainboardTwo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:10vw;
}

.h5{
    margin-top: 2vw;
    margin-bottom: 1vw;
}

